# Pakiety ze scope @msierpien leza w GitHub Packages.
#
# Tokena TU NIE MA celowo. Przy publikacji ustawia go setup-node
# (zmienna NODE_AUTH_TOKEN), a lokalnie trzymaj go w ~/.npmrc:
#   //npm.pkg.github.com/:_authToken=ghp_...
@msierpien:registry=https://npm.pkg.github.com
